---
layout: default_author_index
footer: true
nav: Our Blog
---
<div id="front-wrapper">
  <div id="hero">
      <div id="hero-inner" class="container">
        <div class="span10 offset1">
          <h1>ToalhaTech: {{ page.author }}</h1>
        </div>
      </div>
  </div>
      <section id="sub-hero">
       <div class="container">
         <div class="row">  
           <div id="author-posts" class="span12">
             <h1 class = "author-name">{{ page.author }} - Posts</h1>
              {% assign index = true %}
              {% for post in site.posts %}
                {% if post.author contains page.author %}
                  {% assign content = post.content %}
                  <div class="row">
                  <article>
                    {% include article.html %}
                  </article>
                  </div>
                {% endif %}
              {% endfor %}
           </div>
        </div>
      </div>
  </section>
</div>
